body{
    background-color: slateblue;
    color:aliceblue;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 30px;
    line-height: 120%;
}

/* Top header formatting */
.top{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.top #view_scores{
    display: flex;
    align-items: center;
    color: pink;
}

/* Headings formatting */
h1{
    font-size: 200%;
    line-height: 150%;
}

h2{
    font-size: 120%;
    line-height: 120%;
}

/* Class to put items in the center of the page */
.center{
    margin: auto;
}

/* Formatting for start area upon loading page as well as the high scores page */
.start,
.high_scores{
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 50%;
    text-align: center;
}

/* Formatting for question area */
.question{
    display: none;
    flex-direction: column;
    max-width: 50%;
}

/* Formatting for answers */
.answers{
    display: flex;
    flex-direction: column;
}

/* Formatting for all the buttons on the page */
.btn{
    text-align: start;
    background-color: purple;
    color: white;
    margin: 2px;
    padding: 0 5px 0 5px;
    border-radius: 3px;
    width: fit-content;
}

/* Turn off the game over display */
#game_over{
    display: none;
}

/* Turn off the high scores display */
#high_scores{
    display: none;
    flex-direction: column;
}

#right_or_wrong{
    display: none;
    justify-content: center;
}